#banner{
	background-image: url(https://images.pexels.com/photos/9726802/pexels-photo-9726802.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	/*stretches the image to cover the whole element*/
	background-size: cover;
	background-position: center;
}

.active ::before
{
  text-decoration: underline;
}